data:
  gcePersistentDiskName: geth-data
  volumeName: geth-data
  volumeSize: 500Gi
image:
  command: geth --syncmode "fast" --cache=1024 --rpc --rpccorsdomain "*" --rpcaddr
    "0.0.0.0"
  pullPolicy: Always
  repository: ethereum/client-go
  tag: latest
nodeSelector:
  cloud.google.com/gke-nodepool: geth-pool
replicaCount: 1
resources:
  limits:
    cpu: 770m
    memory: 3.9Gi
  requests:
    cpu: 540m
    memory: 2.7Gi
service:
  externalPort: 8545
  internalPort: 8545
  name: nginx
  type: NodePort
